.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.ncrunch*
*.coverage

bin/
obj/

appsettings.json
appsettings.*.json
secrets.json
*.db-shm
*.db-wal

Migrations/

logs/
*.log

.env

*.nupkg
packages/

.DS_Store
*.swp
*.swo

.dockerignore
docker-compose.override.yml

.idea/
*.dotCover

TestResults/
.coverage
.coveragejson

wwwroot/
npm-debug.log
yarn-error.log
